body {
    padding-top: 120px;
    background: #ffffff;
}


a
{
    outline: none; /*    FF Opera   */
}
a:focus
{
    outline-style: none; /*    FF    */
}

.navbar-inner {
    min-height: 120px;
    padding-right: 20px;
    padding-left: 20px;
    background-color:rgba(255,255,255,0.96);
    background-image: none;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    *zoom: 1;
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff)"


}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
    -webkit-box-shadow:none;
    -moz-box-shadow: none;
    box-shadow: none;
}


.nav-collapse.collapse {
    height: auto;
    overflow: visible;
    padding-top: 40px;
    font-size: 18px;
}

.nav-collapse,
.nav-collapse.collapse {
    height: 0;
    overflow: hidden;
    padding-top: 40px;
    font-size: 18px;
}

.navbar .brand {
    display: block;
    float: left;
    padding: 40px 28px 10px;
    margin-left: -20px;
    font-size: 20px;
    font-weight: 200;
    color: #777777;
    text-shadow: 0 1px 0 #ffffff;
}

.navbar .nav > li > a:focus{
    color: #777777;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
    color: #e9322d;
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}



.navbar .nav > li > a:hover {
    color: #f89406;
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.hero-unit {
    border-top: 4px solid #d9d9d9;
    padding-top: 20px;
    padding-left: 8px;
    margin-bottom: 0;
    font-size: 100%;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
    background-color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.hero-unit h1 {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 20px;
    font-size: 98px;
    line-height: 1;
    font-family: 'Droid Sans', sans-serif;
    letter-spacing: -1px;
    color: #222222;
}

.hero-unit h2 {
    margin-bottom: 0;
    font-size: 30px;
    line-height: 1.2;
    font-family: 'Merriweather', serif;
    font-style: italic;
    letter-spacing: -1px;
    color: #999999;
}

#content {
    width: 100%;
    padding-top: 20px;
    position: relative;
    top: 0px;
    background: #ffffff;

}

#profileDes h2 {
    line-height: 42px;
    color: #222222;
}

#profileDes{
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #999999;
}


.thumbnail {
    display: block;
    padding: 0;
    line-height: 20px;
    border: none;
    -webkit-border-radius:0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}


a.thumbnail:hover,
a.thumbnail:focus {
    border-color: #ffffff;
    box-shadow: 
                0 2px 2px rgba(0, 0, 0, .1), 
                0 4px 4px rgba(0, 0, 0, .1), 
                0 8px 8px rgba(0, 0, 0, .1), 
                0 12px 12px rgba(0, 0, 0, .15), 
                0 24px 24px rgba(0, 0, 0, .15);
    transition: box-shadow .3s ease-out;
    
}

    

.thumbnails h4,
.thumbnails p {
    padding-left: 14px;
    margin-bottom: 4px;
}


#find{
    position: absolute;
    right: 86px;
    margin-top:15px;
    margin-right:46px ;
    font-size: 18px;
    font-weight: bold;
    z-index: 100;
}

#about{
    width: 100%;
    margin-top: 40px;
    height: auto;
    background-color: #ffffff;
}

#moreWork{
    width:350px;
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    color: #999999;
    line-height: 32px;
    text-align: center;
    margin: auto;
        
}


#behance{
    float: left;
}

#dribbble{
    float:right;
}

.linkbutton {
    display: block;
    width: 160px;
    height: 36px;
    padding-top: 15px;
    border: none;
    background-color: #F4F4F4;
    border-radius: 8px;
}


.linkbutton svg{
    display: block;
    margin: auto;
}


.linkbutton:hover, #backarrow:hover {
    background-color: #FBF3E6;
    transition: background-color .4s;
}

.linkbutton:active, #backarrow:active {
    background-color: #ffeedd;
}

#avatar{
    width: 100%;
    margin-bottom: 30px;
}

#divider{
    height: 80px;
    display: block;
    width:40px;
    margin: auto;
    border-bottom: 1px solid #dddddd;
}

#icons{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #f4f4f4;
}


/*.socialicons{
    display: block;
    margin: auto;
    position: relative;
    width: 120px;
    height: 40px;
    background-color: #f4f4f4;
    border-radius: 24px;
    float: left
    
}

.socialicons svg{
    display: block;
    left: 0;
    right:0;
    bottom: 0;
    top: 0;
    position: absolute;
    margin: auto;
    
}

#icons a:hover {
    opacity: .7;
    filter:alpha(opacity=80); /* For IE8 and earlier 
}*/



.brand:hover {
    opacity: .8;
    filter:alpha(opacity=80); /* For IE8 and earlier */
}

.footer {
    padding: 26px 15px 15px;
    height: 120px;
    margin-top: 4%;
    margin-bottom: 0;
    font-size: 16 px;
    color: #888888;
    text-align: right;
    background-color: #d9d9d9;
    border-top: none;
    font-family: 'Droid Sans', sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0 ;
    border-radius: 0 ;
    *zoom: 1;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#footerDes{
    font-family: 'Droid Sans', sans-serif;
    font-size: 16px;
    padding:0 10px 4px;
    text-align: left;
    float: left;

}

/* -------------- style for works ----------------*/

#backarrow{
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    margin: 32px 0 0;
    background-color:#f4f4f4;
    border-radius: 30px;
    
}


#backarrow img{
    display: block;
    padding-top: 5px;
}

#work01 img,#work02 img,#work03 img,#work04 img,#work05 img,#work06 img,#work07 img,#work08 img,#work09 img{
    display: block;
    margin: 0 auto;
}

#workTitle {
    padding: 40px 10px 10px;
    font-family: 'Droid Sans', sans-serif;
    text-align: center;

}

#workTitle h2 {
    font-family: 'helvetica', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #b9b9b9 ;
    text-align: center;

}

#workTitle p, #workDes p2 {
    padding: 5px 0px;
    display: block;
    width:40px ;
    margin: auto;
    border-bottom: 1px solid #dddddd;
    
}

#cover {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;


}

#work01 #cover {
    background-color: #0A1A2B;

}

#work02 #cover {
    background-color: #242424;

}

#work03 #cover {
    background-color: #20acef;
}

#work05 #cover {
    background-color: #4460ad;
}

#work06 #cover {
    background-color: #2d2d2d;
}

#work04 #cover {
    background-color: #4E98EE;
    }
#work07 #cover {
    background-color: #000000;
}

#work08 #cover {
    background-color:#b0479c;
}

#work09 #cover {
    background-color: #f6fdfe;
}

#pics img{
    margin: 20px auto 50px;

}


#workDes {
    padding: 0 10px 20px;
    font-family: 'helvetica', sans-serif;
    color: #8d8d8d;
    font-weight: 100;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
}

#pics p {
    margin-bottom: 10px;
    font-family: 'Droid Sans', sans-serif;
    color: #343432;
    font-size: 18px;
    text-align: center;
}


#backtoall{
    padding: 20px;
    margin: auto; 
    text-align: center;
    line-height: 160%;
    font-family: 'Droid Sans', sans-serif;
    font-size: 24px;
}

#backarrow, #backtoall{
    cursor: pointer;
}

@media (min-width: 1200px) {

  #workDes {
      padding: 0 126px 20px;
      }

#profileDes{
        float:right;
        margin-right: 6%;
        width: 58%;
        background-color: #ffffff;

    }


}

@media (min-width: 768px) and (max-width: 1200px) {
    #profileDes{
        float:right;
        width: 68%;
        background-color: #ffffff;

    }



}

@media (min-width: 578px) and (max-width: 767px) {
    #profileDes{
        float:right;
        width: 60%;
        background-color: #ffffff;

    }
    

@media (max-width: 577px) {
    #profileDes{
        padding-top: 36%;
        width: 100%;
        background-color: #ffffff;

    }
    

@media (max-width: 979px) {
    body {
        padding-top: 0px;
      }

    .navbar .brand {
        display: block;
        float: left;
        padding: 40px 28px 10px;
        margin-left: -20px;

    }


}

@media (max-width: 480px) {
    .hero-unit h1 {
        font-size: 30px;
    }

    .hero-unit h2 {
        font-size: 16px;
    }

    .navbar-inner {
        min-height: 30px;


    }

    body {
        padding-top: 0px;

    }

    .navbar .brand {
        display: block;
        float: left;
        padding:10px 30px 10px;


    }

    .hero-unit {
        padding-top: 0px;
    }

    .nav-collapse,
    .nav-collapse.collapse {

        padding-top: 10px;

    }


}



@media (min-width: 480px) and (max-width: 767px) {
    .hero-unit h1 {
        font-size: 60px;
    }

    .hero-unit h2 {
        font-size: 20px;
    }
 
}
